[submodule "libraries/Adafruit_NFCShield_I2C"]
	path = libraries/Adafruit_NFCShield_I2C
	url = git@github.com:adafruit/Adafruit_NFCShield_I2C.git
[submodule "libraries/xbee-arduino"]
	path = libraries/xbee-arduino
	url = https://code.google.com/p/xbee-arduino
[submodule "libraries/microcap"]
	path = libraries/microcap
	url = https://github.com/1248/microcoap
[submodule "libraries/microcoap"]
	path = libraries/microcoap
	url = https://github.com/1248/microcoap.git
