[submodule "libraries/xbee-arduino"]
	path = libraries/xbee-arduino
	url = https://code.google.com/p/xbee-arduino
[submodule "libraries/microcap"]
	path = libraries/microcap
	url = https://github.com/1248/microcoap
[submodule "libraries/microcoap"]
	path = libraries/microcoap
	url = git@github.com:Bigomby/microcoap.git
[submodule "libraries/Adafruit-PN532"]
	path = libraries/Adafruit-PN532
	url = https://github.com/adafruit/Adafruit-PN532.git
